setup-python.sh
AAA_README
SIMGEN_GW170817_AT2017gfo_LSST.INPUT
SIMGEN_GW170817_AT2017gfo_LSST.NML
SIMGEN_GW170817_AT2017gfo_LSST.NML~
LSST_WFD_COADD.SIMLIB
snana_manual.pdf
setup_snana.csh
setup-grid.sh
simlibs/*
sim.log
diffimg_setup.sh
SEARCHEFF_PIPELINE_LSST.DAT
__init__.pyc
*.npy
GW170817_AT2017gfo_LSST_WFD/
OUT_GW170817_AT2017gfo_LSST.SNANA.TEXT
SIMANA_GW170817_AT2017gfo_LSST.NML
SIMANA_GW170817_AT2017gfo_LSST.NML~
bla.root
SIMLIB_DUMP_SUMMARY_LSST-ugrizY.TEXT
